<div class="row">
  <div class="content-header">
    <h1>Contas <small>Gerenciamento</small></h1>
    <div class="gray-text">
      <small>
        <a href="">iFinance</a>
        <span>Edicao de Conta</span>
      </small>
    </div>
  </div>

  <div class="card col s12 center">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <input name="titulo" id="titulo" type="text" [(ngModel)]="account.title" >
          <label for="titulo" class="active">Titulo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select name="bank_id" [(ngModel)]="account.bank.id" class="browser-default">
            <option *ngFor="let bank of banks" [value]="bank.id">{{bank.title}}</option>
          </select>
          <label>Banks</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="account_number" id="account" type="text" [(ngModel)]="account.account_number" >
          <label for="account_number" class="active">Conta</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="agency" id="agency" type="text" [(ngModel)]="account.agency" >
          <label for="agency" class="active">Agencia</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="balance" id="balance" type="text" [(ngModel)]="account.balance" >
          <label for="balance" class="active">Saldo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
            <button [routerLink]="['']" class="btn waves-effect" type="submit" name="send">
              <i class="material-icons left">send</i>
              Send
            </button>
        </div>
      </div>

    </form>
  </div>
</div>
