<div class="row">
  <div class="content-header">
    <h1>Contas <small>Gerenciamento</small></h1>
    <div class="gray-text">
      <small>
        <a [routerLink]="['/']">iFinance</a>
        <a [routerLink]="['/accounts']">iFinance</a>
        <span>Visualizacao de dados</span>
      </small>
    </div>
  </div>

  <div class="card col s12">
    <div class="row">
      <div class="card-content">
        <span class="card-title">{{account.title}}</span>
        <p>
          Agencia
          <small>{{account.agency}}</small>
        </p>
        <p>
          Conta
          <small>{{account.account_number}}</small>
        </p>
        <p>
          Saldo
          <small>{{account.balance}}</small>
        </p>
      </div>
    <div class="card-content">
      <span class="card-title">{{account.bank.title}}</span>
      Codigo do Banco
      <small>{{account.bank.code}}</small>
    </div>
  </div>
  <div class="row">
    <div class="card-action">
      <a [routerLink]="['/accounts']">Voltar</a>
      <a [routerLink]="['/accounts/' + account.id + '/edit']">Editar</a>
    </div>
  </div>
  </div>
</div>
