<div class="row">
  <div class="content-header">
    <h1>Contas <small>Gerenciamento</small></h1>
    <div class="gray-text">
      <small>
        <a href="">iFinance</a>
        <span>Suas Contas</span>
      </small>
    </div>
  </div>

  <div class="card col s12">
    <div class="card-content">
      <table class="highlight responsive-table centered">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Conta</th>
            <th>Agencia</th>
            <th>Balanco</th>
            <th>Opcoes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts" [routerLink]="['/accounts/' + account.id]">
            <td>
              <small>{{account.title}} </small>
            </td>
            <td>
              <small>{{account.agency}} </small>
            </td>
            <td>
              <small>{{account.account_number}} </small>
            </td>
            <td>
              <small>R$ {{account.balance}} </small>
            </td>
            <td>
              <a [routerLink]="['/accounts/' + account.id]" class="btn waves-effect" type="button" name="button">
                <i class="material-icons left">info</i>
                Ver
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-action">
      <a [routerLink]="['/accounts/add']">Nova Conta</a>
    </div>
  </div>
</div>
<paginate></paginate>
