<div class="row">
  <div class="content-header">
    <h1>Contas<small>Gerenciamento</small></h1>
    <div class="gray-text">
      <small>
        <a href="">iFinance</a>
        <span>Suas Contas</span>
      </small>
    </div>
  </div>

  <div class="card col s12">
    <table class="highlight">
      <thead>
        <tr>
          <th>Contas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Titulo
            <small>agencia: 000 | conta: 0000 | cod banco: 000 </small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<paginate></paginate>
